html {
    scroll-behavior: smooth;
  }
  
  
  body{
      background-color: #171D1C;
      color: #EFE9F4;
      font-family: 'Lexend', sans-serif;
      margin:0
  }
  
  @keyframes slideFromRight {
              to {
                  right: 0;
              }
          }
  
  
  @keyframes slideFromLeft {
              to {
                  left: 0;
              }
          }
  
  
  h1{
      position: relative;
      right: -100%; 
      animation: slideFromRight 1s forwards; 
      text-align: center;
      font-size: 4rem;
      border-bottom: #EFE9F4 solid;
      padding-bottom: 20px;
      text-shadow: 2px 2px rgb(70, 70, 70);
  }
  
  .guitar{
      width: 500px;
      height: auto;
      transform: rotate(240deg)
  }
  
  .container{
      display: flex;
      justify-content: space-between;
  }
  
  .container2{
      display: flex;
      justify-content: space-evenly;
  }
  
  p{
      margin: auto;
      width: 900px;
      font-size: 1.5rem;
      text-align: center;
      text-shadow: 2px 2px rgb(70, 70, 70);
  }
  
  .gif{
      width: 300px;
      height: auto;
      padding-bottom: 20px;
      border-radius: 25px;
  }
  
  hr{
      margin: 50px;
      color: #454546;
  }
  
  .secp{
      text-align: left;
      width: 700px;
      float: left;
      margin-left: 50px;
  }
  
  #guitar2{
      transform: rotate(300deg);
  }
  #guitar3{
      width: 700px;
      height: auto;
  }
  
  .gg-search {
      box-sizing: border-box;
      position: relative;
      display: block;
      transform: scale(var(--ggs,1));
      width: 16px;
      height: 16px;
      border: 2px solid;
      border-radius: 100%;
      margin-left: -4px;
      margin-top: -4px;
  }
  .gg-search::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      border-radius: 3px;
      width: 2px;
      height: 8px;
      background: currentColor;
      transform: rotate(-45deg);
      top: 10px;
      left: 12px
  }
  
  h3{
      text-align: center;
  }
  
  footer p{
      font-size: 16px;
  }
  
  button {
      background-color: #fff; /* Beyaz buton arkaplan */
      color: #000; /* Siyah buton metin rengi */
      padding: 10px 20px;
      font-size: 16px;
      border: 2px solid #000; /* Siyah kenarlık */
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  button:hover {
      background-color: #000; 
      color: #fff; 
  }
  
  .subscribe{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  
  .subscribe h3,
  .subscribe button,
  .subscribe p {
      margin: 10px 0;
  }
  
  a{
      text-decoration: none;
      color:#ce1616;
  }
  
  #ilkdiv{
      display:flex;
      justify-content:flex-start;
      left: -100%; 
      animation: slideFromLeft 1s forwards; 
      position: fixed;
      top:120px;
  }
  nav{
      display:flex;
      flex-direction:column;
      text-transform:uppercase;
      align-items:center;
      background: rgba(23, 29, 28, 0.7) 
      
  }
  
  nav a{
      color:#fff;
      font-size:1.5rem;
      border-bottom:solid 3px;
      transition:0.3s ease-in;
  }
  
  nav a:hover{
      background-color:#fff;
      color:#000; 
  }
  
  
  #div-vid{
      display:flex;
      justify-content:center;
  }
  
  
  #div-form{
      display:flex;
      justify-content:center;
      align-items:center;
  }
  
  #contact{
      display:flex;
      flex-direction:column;
      align-items:center;
      margin-bottom:20px;
  }
  
  #email{
      width: 300px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      font-size: 16px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
  }
  
  label{
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
  }
  
  #submit{
       background-color: #ce1616;
       color: white;
      padding: 8px;
      border: none;
      border-radius: 7px;
      cursor: pointer;
      font-size: 16px;
  }
  
  @media all and (min-width: 1024px) and (max-width: 1280px) { 
     .guitar{
          display:none;
      }
      #div-gif{
          margin:auto;
      }
      p{
          width:500px;
      }
       #guitar3{
          display:none;
      }
  }
  
  @media all and (min-width: 768px) and (max-width: 1024px) {
      .guitar{
          display:none;
      }
  #div-gif{
           margin:auto;
      }
      p{
          width:500px;
      }
       #guitar3{
          display:none;
      }
   }
  
  @media all and (min-width: 480px) and (max-width: 768px) {
     .guitar{
          display:none;
      }
      #div-gif{
           margin:auto;
      }
      p{
          width:500px;
      }
       #guitar3{
          display:none;
      }
   }
  
  @media all and (max-width: 480px) { 
        
    h1{
        font-size:2rem;
    }
    
      .guitar{
          display:none;
      }
      #div-gif{
          margin:auto;
      }
      #guitar3{
          display:none;
      }
      p{
          width:500px;
      }
      }
  
  